@model PrimerParcial.ViewModels.OrdenView
@{
    ViewData["Title"] = "Nueva Orden de Compra";

}

<h2>View</h2>

@*  ****  CODIGO DEL MODAL PARA ADICIONAR ARTICULOS A LA ORDEN **** *@
<div class="modal fade" id="adicionarArticulo" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Adicionar Artículo</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AddArticulo")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*  ****  FIN DEL CODIGO DEL MODAL PARA ADICIONAR ARTICULOS A LA ORDEN **** *@



<form asp-action="Create">
    @Html.AntiForgeryToken()

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Seleccione</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="suplidor" class="control-label"></label>
                            <select asp-for="suplidor" class="form-control" asp-items="ViewBag.formaEnvioSuplidor"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Notas</label>
                        @Html.TextArea("Notas", null, new { @class = "form-control" })
                        *@
                    </div>
                </div>
             @*
                <div class="col-md-6">
                    <div class="form-group">

                        <div class="form-group">
                            <label>Forma de Envío</label>
                            <select asp-for="formaEnvio" class="form-control" asp-items="ViewBag.formaEnvioo"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Forma de Pago</label>
                        <select asp-for="formaPago" class="form-control" asp-items="ViewBag.formaPago"></select>
                    </div>
                    @* moneda*@
                    @*<div class="form-group">
                            <label>Moneda</label>
                            @Html.DropDownList("CurrencyID", null, htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.Currency.CurrencyID, "", new { @class = "text-danger" })
                        </div>*@
                </div>
            </div>
        </div>
        <div class="box-footer">
            @*Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                the plugin.*@
        </div>
    </div>


    <div class="form-group">
        @*<div class="col-md-offset-2 col-md-10">*@
        @* @Html.ActionLink("Adicionar Artículo", "AddArticle", null, new { @Class = "btn btn-success btn-large" })*@

        <!-- modal -->
        <button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#adicionarArticulo">Adicionar Artículo</button>

        <input type="submit" value="Guardar Orden" id="SavePurchaseOrder" class="btn btn-primary" />

        @*</div>*@
    </div>
</form>

@* CODIGO PARA FORMATEAR LAS DATATABLES *@

@*<h2>Detalles de la orden</h2>*@

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Detalle de la Orden de compra</h3>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        @* HASTA AQUI EL CODIGO PARA FORMATEAR LAS DATATABLES *@
                        @*
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.formaPagoArticulo.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.formaPagoArticulo.ArticlePurchaseOrderQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.formaPagoArticulo.Value)
                </th>

            </tr>
        </thead> *@
                        @*
                        <!--  @for (int i = 0; i < Model.formaPagoArticulos.Count; i++)
      {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => Model.formaPagoArticulos[i].Precio)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => Model.formaPagoArticulos[i].ArticlePurchaseOrderQuantity)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => Model.formaPagoArticulos[i].Value)
              </td>
              <td>
                  <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.formaPagoArticulos">Edit</a> |
                  <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.formaPagoArticulos">Details</a> |
                  <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.formaPagoArticulos">Delete</a>
              </td>
          </tr>
      }
    -->
</table>
                @* CODIGO PARA FORMATEAR LAS DATATABLES *@
            </div>
        </div>
    </div>
</div>

<script src="~/AdminLTE/plugins/datatables/js"></script>
<script src="~/Scripts/Tables/Data"></script>
<script src="~/bundles/jqueryval"></script>
<script src="~/AdminLTE/plugins/select2/js"></script>
<script src="~/AdminLTE/plugins/input-mask/js"></script>
<script src="~/AdminLTE/plugins/momentjs/js"></script>
<script src="~/AdminLTE/plugins/daterangepicker/js"></script>
<script src="~/AdminLTE/plugins/colorpicker/js"></script>
<script src="~/AdminLTE/plugins/timepicker/js"></script>
<script src="~/AdminLTE/plugins/icheck/js"></script>
<script src="~/Scripts/Forms/Advanced"></script>x   