@model PrimerParcial.Models.Entidades.Articulo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClasificacionArticulos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClasificacionArticulos.TipoDeArticulos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Suplidor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Suplidor.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idArticulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
