@model PrimerParcial.Models.Entidades.formaEnvioDetalle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>formaEnvioDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Articulo.Cantidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.formaEnvioDetalleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
