@model IEnumerable<PrimerParcial.Models.Entidades.formaEnvioDetalle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.formaEnvioDetalleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.formaEnvioDetalleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.formaEnvioDetalleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
