@model IEnumerable<PrimerParcial.Models.Entidades.Pais>

@{
    ViewData["Title"] = "Index";
}

<h2>Paises</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a class="btn btn-success " asp-action="Edit" asp-route-id="@item.idPais">Edit</a> |
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.idPais">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idPais">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
