@model IEnumerable<PrimerParcial.Models.Entidades.OrdenDetalle>

@{
    ViewData["Title"] = "Index";
}

<h2>Detalle de las Ordenes</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden.ordenID)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ordenDetallID">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ordenDetallID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ordenDetallID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
