@model IEnumerable<PrimerParcial.Models.Entidades.TipoDeDocumento>

@{
    ViewData["Title"] = "Index";
}

<h2>Tipo De documento</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.idTipoDeDocumento">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.idTipoDeDocumento">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idTipoDeDocumento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
