@model IEnumerable<PrimerParcial.Models.Entidades.CompraDetalle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.idArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compra.compraID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.compraDetallID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.compraDetallID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.compraDetallID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
