@model IEnumerable<PrimerParcial.Models.Entidades.formaEnvio>

@{
    ViewData["Title"] = "Index";
}

<h2>Forma de Envio</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.formaEnvioDescripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.formaEnvioDescripcion)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.formaEnvioID">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.formaEnvioID">Details</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.formaEnvioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
