@model IEnumerable<PrimerParcial.Models.Entidades.Ubicacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoCasa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoCasa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idUbicacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idUbicacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idUbicacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
