@model IEnumerable<PrimerParcial.Models.Entidades.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipoDocumento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoDocumento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEmpleado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEmpleado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
